---
- name: "upgrade packages."
  become: true
  apt:
    upgrade: "yes"

- name: "install nodejs and npm dependencies"
  become: true
  apt:
    name: ["nodejs", "npm"]
    state: latest
    update_cache: yes


# - name: "Install pm2"
#   become: true
#   npm:
#     name: pm2
#     global: yes
